{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li class="" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(static/images/slider/bg1.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg2.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg3.jpg)" class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">

                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/GjfXIj3DzdM" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>
    <section class="emerald" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-youtube icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Youtube</h3>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-facebook icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Facebook</a></h3>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-google-plus icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Google Plus</h3>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section>
	 <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Nos souvenirs</h3>
                    <p>Venez passer de bons moments avec Paradise Nest</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/picture1.jpg" %}" alt="">
                                                <h5>
                                                    Brigitte & Benoit
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Brigitte & Benoit" href="{% static  "images/portfolio/full/picture1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/picture2.jpg" %}" alt="">
                                                <h5>
                                                    Roche de crystal
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Roche de crystal" href="{% static  "images/portfolio/full/picture2.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/picture3.jpg" %}" alt="">
                                                <h5>
                                                    Les salines Rivière Noire
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Les salines Rivière Noire" href="{% static  "images/portfolio/full/picture3.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/picture4.jpg" %}" alt="">
                                                <h5>
                                                    Paradise Nest
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Paradise Nest" href="{% static  "images/portfolio/full/picture4.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/picture5.jpg" %}" alt="">
                                                <h5>
                                                    Le Morne
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Le Morne" href="{% static  "images/portfolio/full/picture5.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/picture6.jpg" %}" alt="">
                                                <h5>
                                                    Ile aux bénitiers
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Ile aux bénitiers" href="{% static  "images/portfolio/full/picture6.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.item-->
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
	<section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>What our clients say</h2>
                        <p></p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>Our stay at Paradise Nest with Brigitte and Benoit was wonderful! We enjoyed the time very much. It was very relaxing for us as everything was already perfectly organized. All our wishes and expectations was fulfilled and exceeded. The food was delicious! Brigitte and Benoit are amazing hosts and very nice people!</p>
                                <small>Kristina <cite title="airbnb">Airbnb</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Benoît et Brigitte méritent amplement leur statut de super host : du début à la fin, ils ont été merveilleux, chaleureux, cordiaux, avec l'envie de nous faire partager la culture mauricienne et de faciliter notre séjour au maximum. Le Paradise Nest est tout simplement le plus bel Airbnb que nous ayons fait à ce jour, le lieu est somptueux avec un souci du détail remarquable. Merci à eux, nous avons passé 3 jours de rêve !!!!</p>
                                <small>Camille & Fred <cite title="airbnb">Airbnb</cite></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>We had a fantastic time at Paradiese Nest! I can only agree with the other people here who said that coming here feels like visiting old friends. Brigitte, Benoit and Kristelle were incredible hosts, who made us feel welcome and comfortable. They also helped us find and organize our activities in the area perfectly! Breakfast was fantastic every morning (buns, eggs+bacon, potatoe cakes, french toast, varying fruits, juice etc) and we've also had some great dinners together with the hosts and other guests.</p>
                                <small>Marcus <cite title="airbnb">Airbnb</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Si le paradis existe Cette villa s'en rapproche.... Des hôtes hyper accueillant et hyper prochaine fois nous revenons pour visiter Maurice car c'est dur de sortir de ce cadre idyllique ....</p>
                                <small>David <cite title="airbnb">Airbnb</cite></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->


{% endblock %}

